.user-info {

  .main-content {
    width: 70%;
    //margin-top: 80px;
    //margin-left: 50%;
    //transform: translateX(-50%);
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    .main-content-left {
      position: relative;
      //height: 135px;
      //width: 20%;
      //background-color: #fff;

      .inner {
        position: fixed;
        width: 14%;
        background-color: #fff;

        .left-info {
          width: 100%;
          height: 45px;
          padding-top: 15px;
          text-align: center;
          font-size: 15px;
        }

        .left-info:hover {
          cursor: pointer;
          background-color: #f0f0f5;
        }

        .left-setting {
          width: 100%;
          height: 45px;
          padding-top: 15px;
          text-align: center;
          font-size: 15px;
        }

        .left-setting:hover {
          cursor: pointer;
          background-color: #f0f0f5;
        }

        .left-check {
          width: 100%;
          height: 45px;
          padding-top: 15px;
          text-align: center;
          font-size: 15px;
        }

        .left-check:hover {
          cursor: pointer;
          background-color: #f0f0f5;
        }
      }

    }

    .main-content-right {
      height: 100%;
      width: 79%;
    }


    .right-info-header {
      height: 80px;
      display: flex;
      justify-content: space-between;
      background-color: #fff;

      .el-avatar {
        width: 15%;
        margin-top: 10px;
        margin-left: 10px;
      }

      .el-avatar:hover {
        cursor: pointer;
      }

      .right-info-header-content {
        width: 85%;
        margin-top: 30px;
        font-size: 18px;
        font-family: 微软雅黑;
      }

    }

    .right-info-edit {
      margin-top: 20px;
      background-color: #fff;

      h3 {
        margin-left: 25px;
        padding-top: 10px;
      }

      .right-info-edit-content {
        width: 96%;
        height: 200px;
        margin-top: 10px;
        margin-left: 50%;
        transform: translateX(-50%);

        .edit-user {
          padding-left: 5px;
          font-family: 微軟正黑體;
          font-weight: bold;
        }

        .edit-user.edit {
          margin-right: 10px;
          padding-top: 10px;
          float: right;
          color: #0397e6;

          .el-icon-edit {
            margin: 0 2px;
          }
        }

        .edit-user.name {
          padding-top: 20px;
        }

        .edit-user.id {
          margin-top: 20px;
        }

        .edit-user.age {
          margin-top: 20px;
        }
      }

      .right-info-edit-content:hover {
        cursor: pointer;
        background-color: #f0f0f5;
      }
    }

    .right-account-edit {
      margin-top: 20px;
      height: 300px;
      background-color: #fff;

      h3 {
        margin-left: 25px;
        padding-top: 10px;
      }
    }

    .right-identify-edit {
      margin-top: 20px;
      height: 300px;
      background-color: #fff;

      h3 {
        margin-left: 25px;
        padding-top: 10px;
      }
    }

  }


}


body {
  background-color: #f5f6f7;
}
