.content {
  width: 50%;
  margin: 80px auto;
  border: 1px solid #E8E8E8;

  .content-title {
    width: 100%;
    display: flex;

    h1 {
      margin: 0 auto;
    }
  }

  .el-image {
    margin-top: 30px;
    width: 100%;
  }
}

body {
  background-color: #F5F6F7;
}
