.content {
  width: 60%;
  margin: 20px auto;
  border: 1px solid #E8E8E8;

  .content-order {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .content-order-left {
      margin-top: 100px;
      width: 40%;
      height: 300px;
    }

    .content-order-right {
      margin-top: 40px;
      width: 50%;
      height: 600px;
      //border: 1px solid darkcyan;

      .title {
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
      }

      .order-info {
        width: 100%;
        height: 100px;
        background-color: #FFF2E8;
        border-radius: 8px;
        margin-top: 20px;

        .info-info {
          display: flex;
          justify-content: space-between;

          .order-info-1 {
            padding-top: 10px;
            display: flex;
            align-items: flex-start;

            .front {
              color: #6C7084;
              font-size: 13px;
              font-weight: bold;
              margin-left: 10px;
              margin-top: 12px;
            }

            .back {
              color: orangered;
              font-size: 30px;
              font-weight: bold;
            }

            .tips {
              width: 40px;
              height: 20px;
              background-color: #FF8E1B;
              font-size: 10px;
              text-align: center;
              border-radius: 5px;
              color: white;
              margin-top: 13px;
              margin-left: 5px;
            }
          }

          .order-rate {
            display: flex;
            justify-content: flex-end;

            .order-rate-2 {
              margin-top: 14px;

              p {
                text-align: center;
                font-weight: bold;
                color: #6C7084;
                font-size: 12px;
              }
            }


            .order-rate-1 {
              margin: 14px 10px 0 20px;

              p {
                text-align: center;
                font-weight: bold;
                color: #6C7084;
                font-size: 12px;
              }
            }
          }
        }


        .order-tips {
          margin-top: 18px;
          display: flex;
          justify-content: flex-start;

          i {
            margin-top: 1px;
            margin-left: 15px;
          }

          span {
            font-weight: bold;
            color: #6C7084;
            font-size: 12px;
          }
        }
      }

      .timepicker {
        margin-top: 30px;

        .title {
          color: #6C7084;
          font-size: 13px;
          font-weight: bold;
          margin-left: 10px;
          margin-top: 12px;
        }

        .el-range-editor.el-input__inner {
          width: 390px;
        }
      }

      .pay-way {
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;

        .title {
          display: block;
          color: #6C7084;
          font-size: 13px;
          margin-left: 10px;
          font-weight: bold;
          padding-top: 3px;
        }

        .pay-choose {
          display: inline-block;
        }
      }

      .order-button {
        margin-top: 30px;
        float: right;
        margin-right: 10px;
      }
    }
  }

  .content-tab {
    width: 80%;
    margin: 50px auto;
  }
}
