.ih-head {
  width: 100%;

  .ih-nav {
    height: 80px;
    background-color: deepskyblue;

    .log-in {
      float: right;
      margin-top: 8px;
      margin-right: 20px;

      p {
        font-size: 15px;
      }

      p:hover {
        cursor: pointer;
      }

      .el-avatar:hover {
        cursor: pointer;
      }

      .avatar {

      }
    }
  }

  .el-carousel {
    background-color: skyblue;

    .el-carousel__item h3 {
      color: #475669;
      font-size: 14px;
      opacity: 0.75;
      line-height: 200px;
      margin: 0;
      text-align: center;
    }

    .el-carousel__item:nth-child(2n) {
      background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
      background-color: #d3dce6;
    }
  }
}

.el-popper {
  .user-info {
    .user-info-title {
      width: 100%;
      font-family: 宋体;
      color: #4b4f51;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }

    .user-info-profile {
      //text-align: center;
      width: 100%;
      margin-top: 20px;
      font-size: 13px;
      margin-left: 10px;
    }

    .user-info-profile:hover {
      cursor: pointer;
      font-size: 15px;
    }

    .user-info-logout {
      //text-align: center;
      width: 100%;
      margin-top: 20px;
      font-size: 13px;
      margin-left: 10px;
    }

    .user-info-logout:hover {
      cursor: pointer;
      font-size: 15px;
    }
  }
}
