.ih-head {
  width: 100%;

  .ih-nav {
    height: 60px;
    background-color: #ECF2FE;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
      margin: 0 20px;
      img {
        width: 60px;
        height: 60px;
      }
      img:hover{
        cursor: pointer;
      }
    }

    .log-in {
      margin-top: 8px;
      margin-right: 20px;

      span {
        font-size: 15px;
      }

      span:hover {
        cursor: pointer;
      }

      .el-avatar:hover {
        cursor: pointer;
      }

      .avatar {

      }
    }
  }

  .el-carousel {
    background-color: skyblue;

    .el-carousel__item h3 {
      color: #475669;
      font-size: 14px;
      opacity: 0.75;
      line-height: 200px;
      margin: 0;
      text-align: center;
    }

    .el-carousel__item:nth-child(2n) {
      background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
      background-color: #d3dce6;
    }
  }
}

.el-popper {
  padding: 0;
  margin: 0 auto;

  .user-info {
    width: 100%;

    .user-info-title {
      width: 100%;
      margin-top: 10px;
      height: 35px;
      font-family: 宋体;
      color: #4b4f51;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }

    .user-info-profile {
      //text-align: center;
      width: 100%;
      height: 35px;
      padding-left: 20px;
      padding-top: 10px;
      font-size: 13px;
    }

    .user-info-profile:hover {
      cursor: pointer;
      //font-size: 15px;
      background-color: #f0f0f5;
    }

    .user-info-logout {
      //text-align: center;
      width: 100%;
      height: 35px;
      padding-left: 20px;
      padding-top: 10px;
      font-size: 13px;
    }

    .user-info-logout:hover {
      cursor: pointer;
      //font-size: 15px;
      background-color: #f0f0f5;
    }
  }
}
